.single{
    background-color: #fff;
    color: gray;
    padding: 2px 16px;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #fff;
}
.single:hover{
    border-left: 8px solid rebeccapurple;
}